.main{
    width: 1140px;
    margin: auto;
}

.image-container{
    width: 1140px ; 
    height: 550px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 15px;
    margin-bottom: 50px;
}

.image-block {
    background-size:100%; 
    width:360px;
    height:260px;
    }

.content-block{
    width: 1140px;
    display: flex;
}

.description-block{
    width: 545px;
    font-size: 20px;
}

.image-block-second{
    background-size:100%;
    width: 545px;
    height: 350px;
    margin-left: 50px;
    }