.parent {
    display: flex;
    width: 1140px;
}
.block_1:empty {
    background-color: red;
    width: 50%;
    height: 300px;
}
.block_2:empty {
    background-color: blue;
    width: 50%;
    height: 300px;
}