.parent {
    width: 1140px;
}
.child_1, .child_2 {
    margin-left: 40px;
    margin-bottom: 40px;
}
.parent, .child_1, .child_2 {
    display: flex;
}
.block_1:empty {
    background-color: rgb(216, 69, 69);
    width: 540px;
    height: 540px;
}
.block_2:empty {
    background-color: rgb(255, 81, 0);
    width: 250px;
    height: 250px;
}
.block_3:empty {
    background-color: rgb(255, 81, 0);
    width: 250px;
    height: 250px;
    margin-left: 40px;
}
.block_4:empty {
    background-color: rgb(255, 81, 0);
    width: 250px;
    height: 250px;
}
.block_5:empty {
    background-color: rgb(255, 81, 0);
    width: 250px;
    height: 250px;
    margin-left: 40px;
}